#headingTwo:hover{
    background-color:#24695c !important;
   
}
#headingThree:hover{
    background-color:#ba895d !important;
   
}
#buttondua:hover{
    color:white !important;
}
#buttontiga:hover{
    color:white !important;
}